<ion-tabs>

  <ion-tab tabsHideOnSubPages="true" tab="home">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
<!--
  <ion-tab tabsHideOnSubPages="true" tab="about">
    <ion-router-outlet name="about"></ion-router-outlet>
  </ion-tab>
-->
  <ion-tab tabsHideOnSubPages="true" tab="contact">
    <ion-router-outlet name="contact"></ion-router-outlet>
  </ion-tab>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" href="/tabs/(home:home)">
      <ion-icon name="timer"></ion-icon>
      <ion-label>Timer</ion-label>
    </ion-tab-button>
<!--
    <ion-tab-button tab="about" href="/tabs/(about:about)">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Rules</ion-label>
    </ion-tab-button>
-->
    <ion-tab-button tab="contact" href="/tabs/(contact:contact)">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
