<ion-header>
  <ion-toolbar>
    <ion-title>Catan Timer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
        
          <ion-col col-12 col-xs text-center>
            <h1 class="countDownTimer">{{countDown}}</h1>
          </ion-col>
      
    </ion-row>
    <ion-row >
        <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col text-center>
        <ion-button size="large" color="primary" full (click)="reset()">Reset</ion-button>
      </ion-col>
      <ion-col> 
        <ion-button size="large" color="primary" full (click)="stopButton()">{{pauseText}}</ion-button>
      </ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <ion-button  expand="full" color="light" (click)="changeSpeed(slow)">Slow</ion-button>
  <ion-button  expand="full" color="medium" (click)="changeSpeed(medium)">Medium</ion-button>
  <ion-button expand="full" color="warning" (click)="changeSpeed(fast)">Fast</ion-button>
  <ion-button expand="full" color="danger" (click)="changeSpeed(speedy)">Speedy</ion-button>
</ion-content>



